body,
html,
h1 {
  margin: 2;
  padding: 2;
}
body {
  background: #6F7674;

 
}
div {
  overflow: hidden;
  box-sizing: border-box;
}
.outer-grid {
  position: relative;
  float: left;
  width: 33.3%;
  padding-bottom: 33.3%;
  margin: 0 33.3%;
}
.outer-square {
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 80%;
  background: #6F7674;
  margin: 40px;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}
.inner-grid {
  width: 33.3%;
  height: 33.3%;
  display: table;
  border: 5px solid #1CF4B6;
  border-radius: 5px;
}
.inner-square {
  line-height: 90%;
  font-size: 40px;
  font-weight: bold;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

#output,
h1  {
  
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  
}

.disable {
  pointer-events: none;
}

button {
  outline: 0;
  padding: 10px;
  margin-top: 5px;
  
  border: 5px solid #1CF4B6;
}
